#loginEmail{
    font-size: 18px;
    width: 400px;
    margin: 0 auto;
    color: #636363;
    border: solid 2px #548ced;
    border-radius: 30px;
    height:55px;
    padding-top: 3px;
}
#loginEmail > div > div > input{
    border-radius: 30px;
    padding-left: 30px;
    color: #636363;
}
#loginPassword{
    font-size: 18px;
    width: 400px;
    margin: 0 auto;
    color: #636363;
    margin-top:15px;
    border: solid 2px #548ced;
    border-radius: 30px;
    height:55px;
    padding-top: 3px;
}
#loginPassword > div > div > input{
    border-radius: 30px;
    padding-left: 30px;
    color: #636363;
}
#forgotPassword{
    margin-top: 10px;
    margin-left: 430px;
    color:#FFF;
    font-weight: 500;
}
#loginSubmit{
    height: 55px;
    background-color: #548ced;
    border: solid 2px #eaeaea;
    border-radius: 30px;
    font-size: 19px;
    color: #eaeaea;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    padding-top: 13px;
    margin-top: 35px;
}
#signUp{
    height: 45px;
    font-size: 17px;
    margin: 0 auto;
    width: 290px;
    text-align: center;
    padding-top: 8px;
    margin-top: 150px;
}
#resetPwdEmail{
    font-size: 18px;
    width: 400px;
    margin: 0 auto;
    color: #636363;
    border: solid 2px #548ced;
    border-radius: 30px;
    margin-top: 50px;
    height:55px;
    padding-top: 3px;
}
#resetPwdEmail > div > div > input{
    border-radius: 30px;
    padding-left: 30px;
    color: #636363;
}
#resetCancel{
    background-image: url('../images/buttons/submit.png');
    background-size: cover;
    background-color: transparent;
    border: transparent !important;
    color: #717171;
    margin: 0 auto;
    font-size: 22px;
    height: 59px;
    width: 411px;
    margin-top: 70px;
}
#cancelReset{
    background-color: transparent !important;
    background-image: -webkit-linear-gradient(top, transparent, transparent 3%, transparent) !important;
    border: transparent !important;
    color: #717171;
    font-size: 22px;
    height: 20px;
    width: 50%;
    height:100%;
}
#submitReset{
    background-color: transparent !important;
    background-image: -webkit-linear-gradient(top, transparent, transparent 3%, transparent) !important;
    border: transparent !important;
    color: #717171;
    font-size: 22px;
    height: 20px;
    width: 50%;
    height:100%;
}
